<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangrove Luppung</title>
    <!-- todo link css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />

    <!-- todo boxicons -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <!-- todo font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--header-->
    <header>
      <a href="/" class="logo">Mangrove Luppung</a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="#container">Layanan</a></li>
        <li><a href="#destination">Galery</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <div class="nav-buttons">
        <a href="{% url 'posts:list'%}" class="nav-btn blog-btn">Blog</a>
      </div>
      <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!--Home Section-->
    <section class="home" id="home">
      <div class="home-text">
        <h1>
          Jelajahi <br />
          Keajaiban <br />
          Mangrove Luppung
        </h1>
        <p>Surga Tersembunyi di Pesisir</p>
        <a href="#destination" class="home-btn">Lets See</a>
      </div>
    </section>

    <!--container-->
    <section class="container" id="container">
      <div class="text">
        <h2>
          Mulailah Liburan Anda
          <br />
          Dengan Banyak Layanan!
        </h2>
      </div>

      <div class="row-items">
        <div class="container-box">
          <div class="container-img">
            <img src="{% static 'img/lyn1.png' %}" />
          </div>
          <h4>Spot Photo</h4>
      
        </div>

        <div class="container-box">
          <div class="container-img">
            <img src="{% static 'img/lyn2.png' %}" />
          </div>
          <h4>Market</h4>
      
        </div>

        <div class="container-box">
          <div class="container-img">
            <img src="{% static 'img/lyn3.png' %}" />
          </div>
          <h4>Cafe</h4>
      
        </div>

        <div class="container-box">
          <div class="container-img">
            <img src="{% static 'img/lyn5.png' %}" />
          </div>
          <h4>Musholla</h4>
      
        </div>
      </div>
    </section>

    <!--Package Section-->
    <section class="package" id="package">
      <div class="title">
        <h2>
          Cemilan Khas <br />
          UMKM Luppung
        </h2>
      </div>

      <div class="package-content">
        {% for product in products %}
        <div class="box">
          <div class="thum">
            <img src="{{ product.image.url }}" />
            <h3>Rp. {{ product.price }}</h3>
          </div>
          <div class="dest-content">
            <div class="location">
              <h4 style="text-align: center">{{ product.name }}</h4>
            </div>
            <div class="stars">
              <a class="shop" href="{{ product.shopee_link }}" target="_blank"><img src="{% static 'img/shoope.png'%}" alt="shoope"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!--Destination Section-->
    <section class="destination" id="destination">
      <div>
        <h2>
          Galery
        </h2>
      </div>

      <div class="destination-content">
        {% for item in destination_items %}
        <div class="col-content">
          <img src="{{ item.image.url }}" alt="gambar" class="popup-image">
          <p>{{ item.deskripsi }}</p>
        </div>
        {% endfor %}
      </div>
      <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
      </div>
    </section>

    <!--testimoni & lokasi-->
    <section class="container">
      <div class="lokasi">
          <h2>Lokasi</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9445.69958278622!2d120.3158994771746!3d-5.503374453634115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbc07f6dd617c81%3A0x151737f3ec359175!2sKawasan%20Wisata%20Mangrove%20Luppung!5e0!3m2!1sid!2sid!4v1725120030628!5m2!1sid!2sid" 
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </section>

    <!--footer-->
    <section id="contact">
      <div class="footer">
        <div class="main">
          <div class="list">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#container">Layanan</a></li>
              <li><a href="#package">Galery</a></li>
              <li><a href="#destination">Kontak</a></li>
            </ul>
          </div>

          <div class="list">
            <h4>Support</h4>
            <ul>
              <li><a href="https://www.instagram.com/bina.adinata/" target="_blank">INSTITUT TEKNOLOGI <br> DAN BISNIS <br> BINA ADINATA</a></li>
              <li><a href="https://www.instagram.com/kknt8_desamanyampa" target="_blank">Tim KKN Tematik Angk.VIII Posko I Desa Manyampa</a></li>
            </ul>
          </div>

          <div class="list">
            <h4>Contact Info</h4>
            <ul>
              <li> <a href="https://maps.app.goo.gl/WAJZ1R99akfBGpANA" target="_blank"> Alamat: Jl. Mangrove Luppung, Desa Manyampa </a></li>
              <li> <a href="https://wa.me/+6285756397844" target="_blank">Phone: +62 8570-5639-7844 </a></li>
              <li> <a href="mailto:info@mangroveluppung.com" target="_blank">Email: info@mangroveluppung.com</a></li>
              <li> <a href="">Jam buka: Setiap Hari, 08.00 - 19.00</a></li>
            </ul>
          </div>

          <div class="list">
            <h4>Linktree</h4>
            <ul>
              <li><a href="https://facebook.com/mangrove.manyampa" target="_blank">Facebook</a></li>
              <li><a href="https://facebook.com/mangroveluppungmanyampa" target="_blank">Fanspage</a></li>
              <li> <a href="https://www.instagram.com/mangroveluppung/" target="_blank">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="end-text">
        <img class="iteb" src="{% static 'img/iteb.png'%}" alt="" />
        <p>
          &copy; 2024 All rights reserved | Made with
          <a href="https://www.instagram.com/kknt8_desamanyampa" target="_blank"
            >KKNT ITEB BINA ADINATA
          </a>
        </p>
      </div>
    </section>

    <!--link to js-->
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
  </body>
</html>
